<div class="row">
	<section class="col-8 col-center">
		<header class="text-center top-20">
            <h1>Reports</h1>
        </header>
        
        <form role="form" id="homeForm" name="homeForm" novalidate>
			 
        		<div>
	                <div ng-class="getFieldErrorClass(homeForm.fromDate)">
	                	<datepicker date-format="yyyy-MM-dd">
						  <input id="fromDate"
	                    		 name="fromDate"
	                    		 ng-model="home.fromDate"  
	                    		 type="text" 
	                    		 ng-required='true'
	                    		 placeholder="From Date"
	                    		 ng-change='validateFromDate(home.fromDate)'/>
						</datepicker>
						
						<div align="left" style="color: red" ng-show="submitted && homeForm.fromDate.$invalid">
			            	<p><span>From Date is mandatory</span>
			            </div>
			             <div align="left" style="color: red" ng-show="fromDateError">
			            	<p><span>{{errMsg}}</span>
			            </div>
			            
			            <input  type="time" 
								id="fromTime" 
								name="fromTime" 
								ng-model="time.from"
       							placeholder="HH:mm:ss" 
       							required 
       							style="margin-top: 20px;"/>
	                </div>
	                <div style="margin-top: 20px;">
	                	<datepicker date-format="yyyy-MM-dd">
						  <input id="toDate"
	                    		 name="toDate"
	                    		 ng-model="home.toDate"  
	                    		 type="text" 
	                    		 ng-required='true'
	                    		 placeholder="To Date" 
	                    		 ng-change='validateToDate(home.fromDate,home.toDate)'/>
						</datepicker>
						
						<div align="left" style="color: red" ng-show="submitted && homeForm.toDate.$invalid">
			            	<p><span>To Date is mandatory</span>
			            </div>
			            <div align="left" style="color: red" ng-show="toDateError">
			            	<p><span>{{errMsg}}</span>
			            </div>
				        
				        <input  type="time" 
									id="toTime" 
									name="toTime" 
									ng-model="time.to"
	       							placeholder="HH:mm:ss" 
	       							required 
	       							style="margin-top: 20px;"/>
	                </div>
		            
	            </div>
	            <div align="center" style="color: red" ng-show="submitted && error">
	            	<p><span>{{errMsg}}</span>
	            </div>
	            <div align="center">
		        	<button ng-click="getReport()" type="submit" id="login" class="btn btn-lg btn-solid" ng-disabled="fromDateError || toDateError">Get Report</button>
		        </div>
        	
        	
        </form>
        <br>
        <div ng-hide="showInitialForm">
        		<table>
        			<tr>
        				<th>
        					Parameters
        				</th>
        				<th>
        					No Of Orders
        				</th>
        				<th>
        					Revenue in Rs.
        				</th>
        			</tr>
        			<tr>
        				<td>Orders Yet to confirm</td>
        				<td class="col">{{report.total_initial_orders}}</td>
        				<td class="col">-</td>
        			</tr>
        			<tr>
        				<td>Total Number of Cancelled Orders</td>
        				<td class="col">{{report.total_initial_cancelled_orders}}</td>
        				<td class="col">-</td>
        			</tr>
        			<tr>
        				<td>Total Number of Placed Orders</td>
        				<td class="col">{{report.tatal_placed_orders}}</td>
        				<td class="col">{{report.total_placed_amt | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>Total Number of Returned Orders</td>
        				<td class="col">{{report.total_returned_orders}}</td>
        				<td class="col">{{report.total_returned_amt | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>Total Number of Successful Orders</td>
        				<td class="col">{{report.total_successful_orders}}</td>
        				<td class="col">{{report.total_delivered_amt | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>Total Number of Orders</td>
        				<td class="col">{{report.total_orders}}</td>
        				<td class="col">{{report.total_revenue | currency : "&#8377;"}}</td>
        			</tr>
        		</table>
        		<br>
        		<br>
        		
        		<table>
        			<tr>
        				<td>Company Expenses (Salary, Ads, Software etc..)</td>
        				<td class="col">{{report.total_comp_expense | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>Blocked Amount (Returned Items)</td>
        				<td class="col">{{report.total_returned_amt | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>In-transit Amount (Placed with manufacturer's)</td>
        				<td class="col">{{report.total_placed_amt | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>Profit </td>
        				<td class="col">{{report.total_profit | currency : "&#8377;"}}</td>
        			</tr>
        			<tr>
        				<td>Revenue </td>
        				<td class="col">{{report.total_revenue | currency : "&#8377;"}}</td>
        			</tr>
        		</table>
        	</div>
	</section>
</div>